*{
    margin: 0;
    padding: 0;
}
body{
    background:#F0EAEA;
}
.box{
    height: 350px;
    width: 1349px;
    background-image: url(./img/pic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    box-shadow: 2px 0px 10px rgb(34, 34, 36);
}
.nav{
    height: 140px;
    width: 1144px;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    border-bottom: 8px solid #E49826;
    border-left: 8px solid #E49826;
    border-right: 8px solid #E49826;
}
.options a{
    text-decoration: none;
    color: #E49826;
}
.options{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins',sans-serif;
}
.nav img{
    margin-top: 18px;
    border:#E49826;
    border-style: ridge;
}
.home{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 25px;
}
.menu{
    margin-top: 50px;
    margin-left: 35px;
    font-size: 25px;
}
.about{
    margin-top: 50px;
    margin-left: 35px;
    font-size: 25px;
}
.facilities{
    margin-top: 50px;
    margin-left: 35px;
    font-size: 25px;
}
.gallery{
    margin-top: 50px;
    margin-left: 35px;
    font-size: 25px;
}
.contact{
    margin-top: 50px;
    margin-left: 35px;
    font-size: 25px;
}
.book{
    height: 50px;
    width: 140px;
    font-size: 25px;
    background: #F4A937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 40px;
}
.book a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.box h1{
    color: white;
    font-size: 60px;
    margin-left: 500px;
    margin-top: 60px;
}
.contain{
    height: 800px;
    width: 1349px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Roboto',sans-serif;
}
.p-1{
    height: 650px;
    width: 300px;
    background: white;
}
.p-1 h1{
    font-size: 18px;
    margin-left: 40px;
    margin-top: 20px;
}
.p{
    height: 200px;
    width: 280px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 20px;
}
.p1{
    letter-spacing: 1px;
}
.p2{
    letter-spacing: 0.75px;
}
.p3{
    letter-spacing: 0.1px;
}
.p4{
    letter-spacing: 0.25px;
}
.p5{
    letter-spacing: 1.05px;
}
.p-2{
    height: 650px;
    width: 300px;
    background: white;
}
.p-2 h1{
    font-size: 18px;
    margin-left: 60px;
    margin-top: 20px;
}
.x{
    height: 200px;
    width: 280px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 20px;
}
.x2{
    word-spacing: 12px;
}
.x3{
    word-spacing: 2.5px;
}
.x4{
    word-spacing: 11.5px;
}
.x5{
    word-spacing: 6.2px;
}
.x6{
    letter-spacing: 0.9px;
}
.x7{
    word-spacing: 4px;
}
.x8{
    letter-spacing: 0.1px;
}
.x9{
    letter-spacing: 0.7px;
}
.p-3{
    height: 650px;
    width: 300px;
    background: white;
}
.p-3 h1{
    font-size: 18px;
    margin-left: 50px;
    margin-top: 20px;
}
.y{
    height: 300px;
    width: 280px;
    margin-top: 10px;
    margin-left: 20px;
    line-height: 20px;
}
.y1{
    letter-spacing: 0.5px;
}
.y2{
    word-spacing: 5px;
    letter-spacing: 0.6px;
}
.y3{
    word-spacing: 16px;
    letter-spacing: 1.8px;
}
.y4{
    word-spacing: 5px;
    letter-spacing: 1px;
}
.y5{
    word-spacing: -1px;
}
.y6{
    letter-spacing: 0.25px;
}
.y7{
    word-spacing: 15px;
    letter-spacing: 1px;
}
.text{
    width: 250px;
}
.box-2{
    height: 375px;
    width: 1349px;
    background-image: url(./img/pic-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 0px 10px rgb(34, 34, 36);
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: -40px;
}
.inform{
    height: 300px;
    width: 500px;
    margin-left: 50px;
}
.inform img{
    margin-top: 15px;
    margin-left: 100px;
    border:#E49826;
    border-style: ridge;
}
.s{
    margin-top: 15px;
    color:#D1C4C4;
}
.s2{
    margin-left: 5px;
}
.s3{
    margin-left: 25px;
}
.s4{
    margin-left: 60px;
}
.media{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.facebook{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.insta{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.tiktok{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.twitter{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.company{
    height: 300px;
    width: 300px;
    font-family: 'Almarai',serif;
    margin-left: -100px;
}
.company h1{
    letter-spacing: 1px;
    margin-top:15px ;
    margin-bottom: 30px;
    color: #E49826;
}
.company a{
    text-decoration: none;
    margin-top: 20px;
    display: block;
    color: white;
    font-size: 20px;
}
.download{
    height: 300px;
    width: 500px;
    font-family: 'Almarai',serif;
    margin-left: 20px;
}
.download h1{
    letter-spacing: 1px;
    color: #E49826;
    margin-top: 15px;
}
.store{
    height: 200px;
    width: 220px;
    display: inline-block;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.google{
    height: 60px;
    width: 200px;
    border-bottom: 1px solid #E49826;
    border-left: 1px solid #E49826;
    border-right: 1px solid #E49826;
    border-top: 1px solid #E49826;
    background: black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.logo{
    height: 50px;
    width: 50px;
    margin-left: 4px;
    margin-top: 4px;
}
.head{
    height: 60px;
    width: 140px;
}
.h1{
    color: white;
    margin-left: 15px;
    margin-top: 7px;
    font-weight: lighter;
    font-size: 13px;
    font-family: 'Roboto',sans-serif;
}
.h2{
    margin-top: 5px;
    font-size: 22px;
    margin-left: 5px;
    color:white;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: 'Roboto',sans-serif;
}
.apple{
    height: 60px;
    width: 200px;
    border-bottom: 1px solid #E49826;
    border-left: 1px solid #E49826;
    border-right: 1px solid #E49826;
    border-top: 1px solid #E49826;
    background: black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.logo-1{
    height: 50px;
    width: 50px;
    margin-left: 4px;
    margin-top: 4px;
}
.head-1{
    height: 60px;
    width: 140px;
}
.h3{
    color: white;
    margin-left: 15px;
    margin-top: 7px;
    font-weight: lighter;
    font-size: 13px;
    font-family: 'Roboto',sans-serif;
}
.h4{
    margin-top: 5px;
    font-size: 22px;
    margin-left: 20px;
    color:white;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: 'Roboto',sans-serif;
}
.scan{
    margin-left: 30px;
    margin-bottom: 500px;
}
.scan p{
    height: 30px;
    width: 275px;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Inter',sans-serif ;
}
.qr{
    margin-top: 5px;
    margin-left: 50px;
}
.box-3{
    margin-top: -10px;
    height: 20px;
    width: 1210px;
    border-top:1px solid #E49826;
    display: flex;
    flex-direction: row;
}
.box-3 p{
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: 'Inter',sans-serif ;
    margin-left: 50px;
    margin-top: 20px;
}
.box-3 a{
    text-decoration: none;
    color: white;
}
.box-3 h1{
    font-size: 22px;
    font-family: 'Inter',sans-serif;
    font-weight: normal;
    margin-left: 350px;
    margin-top: 20px;
}